* {
    padding: 0;
    margin: 0;
}

.content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: gray;
}

.buttons {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.template {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    background: gray;
}

.content textarea, .content input {
    display: block;
    width: 50%;
}

.content textarea {
    height: 200px;
}

.progress {
    position: fixed;
    top: 50px;
    right: 0;
    z-index: 2;
}

.html, .css, .json {
    box-sizing: margin-box;
    position: fixed;
    width: 50%;
}

.json {
    left: 0;
    top: 0;
    height: 100%;
}

.html {
    right: 0;
    top: 0;
    height: 50%;
}

.css {
    right: 0;
    bottom: 0;
    height: 50%;
}

.CodeMirror {
    height: auto;
}
