* {
    padding: 0;
    margin: 0;
}
.content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: gray;
}

.buttons {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.template {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    background: gray;
}

.content textarea, .content input {
    display: block;
    width: 50%;
}

.content textarea {
    height: 200px;
}

.html, .css {
    box-sizing: margin-box;
    float: left;
    width: 50%;
    height: 300px;
}
